.card {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 2rem;
    background-color: #142f4c;
}